body{
    background-image: url(https://cdn.dribbble.com/users/30851/screenshots/4699617/thunderbolt.png);
    
    
    padding: 0px;
    margin: 0px;
    flex: 0 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#box{
    display: flex;
    justify-content: center;
    background-color:#1b1f1cf8;
    box-shadow: #550864 0px 0px 60px;
    width: 400px;
    height: 50%;
    border-radius: 20px;
    border: solid #830394 4px;
}
#boxS{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input,#send{
    display: flex;
    outline:0px;
    border-radius: 10px;
    font-size: 15px;
    background-color: white;
    padding: 2px;
    border: solid #7707a3 3px;

}
#send:hover{
    cursor: pointer;
    box-shadow: #5e6b5b 0px 0px 60px;
}
input[type="text"],input[type="number"]{
    width: 240px;
    height: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 5px;
}
#send{
    font-size: 20px;
    background-color: white;
    width: 120px;
    height: 25px;
    padding: 5px;
    color: black;
    margin-bottom: 50px;
}
form{
    font-size: 20px;
    margin-top: 40px;
    color: white;
    font-weight: bold;
    
}
span{
    
    font-size: 20px;
}
.txt{
    top: 100px;
    margin-bottom: 20px;
}
